/* base styles reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

svg {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  height: 100%;
}

/* variables & base settings */
:root {
  /* fonts */
  --font-size: 10px;
  --font-primary: 'Roboto', Helvetica, 'Trebuchet MS', Tahoma, sans-serif;

  /* colors */
  --color-alabaster: #fbfbfb;
  --color-alto: #cfcfcf;
  --color-mine-shaft: #2d2d2d;
  --color-tooltip-background: #6b6b6b;

  /* graph dataset colors */
  --chart-dataset-color-1: #ff9abf;
  --chart-dataset-color-2: #f9f871;
  --chart-dataset-color-3: #ffb091;
  --chart-dataset-color-4: #cfa0ff;
  --chart-dataset-color-5: #ffd36f;
  --chart-dataset-color-6: #599ff4;
  --chart-dataset-color-7: #00eabf;

  /* color scheme */
  --background: var(--color-mine-shaft);
  --border: var(--color-alto);
  --text-primary: var(--color-alabaster);

  /* transitions */
  --anim-slow: 0.3s ease-in-out;
  --anim-fast: 0.2s ease-in-out;

  /* gaps */
  --layout-gap: 2rem;

  font-size: var(--font-size);
}

/* general styles */
body {
  min-width: 3.75rem;
  font-family: var(--font-primary);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  word-break: break-all;
  -webkit-user-select: none;
  user-select: none;
  color: var(--text-primary);
  background-color: var(--background);
}

.wrapper {
  width: 100%;
  height: 100%;
  height: min(100vh, 100dvh);
  display: flex;
  flex-direction: column;
  row-gap: var(--layout-gap);
  overflow: hidden;
}

.container {
  max-width: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 3rem;
}

.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 3rem;
  padding: 2rem 0;
  border-bottom: 0.1rem solid var(--border);
}
.header__logo {
  max-width: 6rem;
}
.header__title {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--text-primary);
}

.main {
  flex-grow: 1;
}

.graph__scrollable {
  overflow-x: auto;
}
.graph__wrapper {
  height: calc(100% - var(--secondary-elements-height));
  height: calc(100dvh - var(--secondary-elements-height));
  min-width: var(--canvas-wrapper-width);
  position: relative;
}

.footer__body {
  padding: 1.5rem 0;
  border-top: 0.1rem solid var(--border);
}
.footer__copyright {
  font-size: 1.5rem;
}

@media (max-width: 1023px) {
  :root {
    --layout-gap: 1rem;
  }

  .container {
    padding: 0 1.5rem;
  }
  .header__body {
    padding: 1rem 0;
  }
  .header__logo {
    max-width: 4rem;
  }
  .header__title {
    font-size: 2rem;
  }
  .footer__body {
    padding: 1rem 0;
  }
}
